<p>Dear <%=@advance_training.first_name%>, </p>
  <p>Thanks for requesting more information about completing your <%=@advance_training.certificate_sought%> at Ideal Aviation.</p>
  <p>At Ideal Aviation, we are committed to providing the best possible aviation education and training. We offer a variety of programs and courses designed to meet the needs of both aspiring pilots and experienced aviators.</p>
  <p>We will reach out to you shortly and discuss your aviation goals and how we can help.  </p>
  <p>Please keep in mind that we review all submissions daily during office hours and it may take a few days to reach out to you.</p>
  <p>If would like to speak with an Ideal Aviation team member now, please don't hesitate to contact us.</p>
  <p>Whatever your goals may be, we are confident that we can help you achieve them. We can't wait to talk to you soon.</p>
  
  
  <p>
    The team at Ideal Aviation<br>
    1-618-360-7600<br>
    info@idealaviationstl.com<br>
  </p>
  <br>
  <br>
  -------- Your Form Submission Details --------
  <br>
  <br>
  Name: <%=@advance_training.first_name%> <%=@advance_training.last_name%><br>
  Phone: <%=@advance_training.phone%><br>
  Email: <%=@advance_training.email%><br>
  Message: <%=@advance_training.comments%><br>
