<%# Head / Meta Data %>
<% title("Contact Ideal Aviation") %>
<% meta_description("Let's meet.  Fill out the form below and get in touch with one of Ideal Aviation's team members.  We're here to help answer any questions you may have about pilot training.  We want to see you fly!") %>
<% meta_keywords("nearest flight school in st. louis missouri, pilot training at downtown airport, pilot training part 141 st louis, part 141 st louis, right rudder marketing, become a pilot, helicopter training st louis, helicopter part 141 st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= form_with(model: message, class: "") do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being sent:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "p-text" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
  </div>

  <div class="my-5">
    <%= form.label :email, class: "p-text" %>
    <%= form.email_field :email, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
  </div>

  <%= invisible_captcha :confirm_email, :message %>

  <div class="my-5">
    <%= form.label :phone, class: "p-text" %>
    <%= form.text_field :phone, placeholder: "###-###-####", class: "placeholder:text-slate-300 block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
  </div>

  <div class="my-5">
    <%= form.label "How can we help?", class: "p-text" %>
    <%= form.text_area :body, rows: 4, class: "block shadow rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
  </div>

  <%# if @show_checkbox_recaptcha %>
    <%#= recaptcha_tags %>
    <!--<div class="mb-10"></div>-->
  <%# else %>
    <%#= recaptcha_v3(action: 'message', site_key: ENV['RECAPTCHA_SITE_KEY']) %>
  <%# end %>

  <div class="inline">
    <%= form.submit "SEND MESSAGE", class: "btn-primary mb-10" %>
  </div>
<% end %>
