<%= render "shared/header"%>

<header class="bg-gradient-to-b from-slate-50 to-blue-100">
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="flex flex-col items-center lg:w-1/2">
      <h1 class="font-bold text-5xl pt-10 text-center">Airplane Pilot Training</h1>
      <h2 class="font-semibold text-xl italic pt-5 pb-3 px-10 text-center">Part 141 and part 61 airplane pilot training courses</h2>
      <p class="p-text w-3/4 pb-5">
        Ideal Aviation is the place to become a pilot in St. Louis, MO.  Whether you're starting on your private or training for advanced ratings, we can help you get your private pilot certificate and more.
      </p>
      <div class="flex flex-col px-5 gap-3">
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Professional, safe, friendly instructors</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Aircraft availability and large fleet</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Modern and well maintained aircraft</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Private classrooms and tailored lessons</h3>
        </div>
        <div class="flex flex-row ">
          <div class="text-green-500 pr-2 font-extrabold">✓</div>
          <h3 class="lg:px-10 pl-4 p-text text-left">Part 61 and part 141 FAA approved training center</h3>
        </div>
      </div>
      <%= link_to "SEND US A MESSAGE", root_path, class: "btn-primary my-3" %>
    </div>
    <div class="flex flex-col items-center lg:w-1/2">
      <%= image_tag "multi.webp", alt: "Pilot giving the thumbs up by a piper seminole", class: "lg:w-4/5"%>
    </div>
  </div>
</header>


<%= render "shared/cta_discovery_flight_right"%>

<%# what happens next%>
<section class="bg-gradient-to-t from-slate-50 to-blue-100 py-10">
  <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">What happens after the discovery flight?</h2>
  <div class=" max-w-2xl mx-5 lg:mx-auto p-text pb-12">
    So, you've completed your discovery flight and are ready to take the next step? Ideal Aviation is here to help you take flight towards your aviation dreams and attain your goals.  Let's dive into what happens after your first flight with us.  
  </div>

  <div class="bg-white max-w-xl mx-5 lg:mx-auto border border-gray-200 rounded-2xl mb-10">
		<ul class="shadow-box">					
		  <li class="relative border-b border-gray-200" x-data="{selected:null}">
			  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 1 ? selected = 1 : selected = null">
				  <div class="flex items-center justify-between">
					  <span class="font-semibold text-lg">Work with our team to create a plan</span>
					  <span class="ico-plus"></span>
				  </div>
        </button>
			  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container1" x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
				  <div class="p-6 p-text">
					  <p>Our team will pair you with a certified flight instructor (CFI) who will work with you to create a personalized plan that fits your schedule and goals. Together, you will establish a flight training schedule, review the syllabus, and discuss any questions or concerns you may have.</p>
				  </div>
			  </div>
		  </li>
		  <li class="relative border-b border-gray-200" x-data="{selected:null}">
			  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 2 ? selected = 2 : selected = null">
				  <div class="flex items-center justify-between">
					  <span class="font-semibold text-lg">Take care of the prerequisites</span>
					  <span class="ico-plus"></span>
				  </div>
				</button>
			  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container2" x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
				  <div class="p-6 p-text">
					  <p>Before you can start your flight training, you will need to complete a medical exam, purchase your books, and work on completing your ground school and written exam. Our team will be with you every step of the way to ensure you have everything you need to succeed.</p>
				  </div>
			  </div>
		  </li>
      <li class="relative border-b border-gray-200" x-data="{selected:null}">
			  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 3 ? selected = 3 : selected = null">
				  <div class="flex items-center justify-between">
					  <span class="font-semibold text-lg">Start flight training and ground school</span>
					  <span class="ico-plus"></span>
				  </div>
				</button>
			  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container3" x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''">
				  <div class="p-6 p-text">
					  <p>Once you have completed your prerequisites, it's time to start building your flight hours and experience. You will work with your CFI to complete flight lessons and ground school, mastering the skills needed to become a proficient pilot.</p>
				  </div>
			  </div>
		  </li>
      <li class="relative border-b border-gray-200" x-data="{selected:null}">
			  <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 4 ? selected = 4 : selected = null">
				  <div class="flex items-center justify-between">
					  <span class="font-semibold text-lg">Pass your checkride</span>
					  <span class="ico-plus"></span>
				  </div>
				</button>
			  <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container4" x-bind:style="selected == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : ''">
				  <div class="p-6 p-text">
					  <p>As you near the end of your flight training, you will work with your CFI to prepare for your check ride. Our team will ensure that you are well-prepared and confident.  We'll have stage checks along the way so you can successfully pass your check ride and earn your pilot's license.</p>
				  </div>
			  </div>
		  </li>
      <li class="relative " x-data="{selected:null}">
        <button type="button" class="w-full px-8 py-6 text-left" @click="selected !== 5 ? selected = 5 : selected = null">
          <div class="flex items-center justify-between">
            <span class="font-semibold text-lg">Enjoy flying and continue your aviation journey</span>
            <span class="ico-plus"></span>
          </div>
        </button>
        <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container5" x-bind:style="selected == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : ''">
          <div class="p-6">
            <p>Congratulations, you are now a certified pilot! But your aviation journey doesn't have to end there. Our team can help you continue to grow your skills and earn additional ratings, such as an instrument or commercial rating. Whether you want to fly for fun or pursue a career in aviation, we are here to support you every step of the way.</p>
          </div>
        </div>
      </li>
    </ul>
	</div>

  <div class=" max-w-2xl mx-5 lg:mx-auto p-text pb-10 flex flex-col items-center">
    At Ideal Aviation, we are passionate about aviation and sharing the joy of flying with others. So why wait? Contact us today to get started on your aviation journey.
      <%=link_to root_path, class: "mx-auto" do%>
        <div class="btn-primary mt-5">
          CONTACT US
        </div>
      <% end %>
  </div>

</section>


<%= render "shared/testimonials"%>
<%= render "shared/pilot_programs"%>
<%= render "shared/cta_fly_with"%>
<%= render "shared/cta_book"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>


<%# Sticky div %>
</div>