<%= render "shared/header"%>

<header class="bg-gradient-to-b from-slate-50 to-blue-100">
  <div class="flex flex-col lg:flex-row">
    <div class="flex flex-col items-center lg:w-1/2">
      <span class="p-text text-xl lg:text-2xl pt-20 text-center">Read Below to Learn About How to</span>
      <h1 class="font-bold text-5xl pt-5 text-center">Become a Certificated Pilot</h1>
      <h2 class="font-semibold text-xl italic pt-5 pb-10 text-center lg:block hidden">We'll help you achieve your aviation goals.  Every step of the way.</h2>
      <h2 class="font-semibold text-lg italic pt-5 pb-10 text-center lg:hidden">We'll help you achieve your aviation goals.  <br>Every step of the way.</h2>
      <p class="p-text w-3/4 pb-20">
        If you're just starting your journey in the world of aviation, you've probably come across a variety of resources on the internet and you don't know where to start.  What's the difference between part 141 and part 61 training?  How much is pilot training going to cost?  Are flying those small little airplanes safe?  We'll answer those questions and more below.
      </p>
    </div>
    <div class="flex flex-col items-center lg:w-1/2">
      <%= image_tag "helicopter_pilot_passed_checkride.webp", alt: "A student pilot at Ideal Aviation Passes His Helicopter Checkride", class: "lg:w-3/4"%>
    </div>
  </div>
</header>

<section class="bg-gradient-to-t lg:bg-gradient-to-l from-ideal-blue to-ideal-blue flex flex-col items-center text-white">
  <div class="pt-10 flex flex-col items-center">
    <h2 class="text-center text-4xl font-bold lg:block hidden">Determine if Pilot Training is Right For You</h2>
    <h2 class="text-center text-4xl font-bold lg:hidden">Determine if Pilot Training is Right For You</h2>
    <p class="p-text w-3/4 lg:w-1/2  pt-10">The first step is to make a decision on whether or not you really want to become a pilot.  Take a mental inventory of yourself and determine what your long term goals are and how aviation fits in.  Do you want to fly around liesurely with your family and friends?  See the city of St. Louis from above in a private aircraft and then fly to a nearby city for lunch?  Or, are you looking to make a career out of aviation?  Do you want to become an airline pilot?  Or have a career in aviation in a different type of pilot job role?  </p>
    <p class="p-text w-3/4 lg:w-1/2  pt-10">Do you want to fly helicopters or airplanes?  How much time can you dedicate each week to flight training?  Will your loved ones support you in your decision to become a pilot?  These are some of the questions you should ask yourself before you start pilot training.  No matter what your circumstances and long term ambitions are, the Ideal Aviation team is here to help you reach your goals.</p>
    <p class="p-text w-3/4 lg:w-1/2  pt-10">We've prepared a short and fun quiz to help you determine if pilot training is right for you.  Start by taking our quick quiz to see if you have what it takes! Our quiz will assess your knowledge and skills related to aviation, as well as your personality traits and interests, to help determine if flying is right for you.</p>
    <%= link_to "TAKE THE QUIZ", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 my-10" %>
  </div>
</section>

<section class="bg-gradient-to-b from-slate-50 to-white flex flex-col lg:flex-row-reverse items-center pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2 p-text">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Schedule a Discovery Flight</h2>
    <p class="w-3/4 pb-10">The first decision you can make is whether you want to fly helicopters (rotary wing) or airplanes (fixed wing).  Schedule a time to meet with our team, tour our hangar, and take flight in one of our aircraft.  During a discovery flight, you'll be paired up with one of our highly qualified FAA certificated flight instructors.</p>
    <p class="w-3/4 pb-10">You'll get the chance to sit in the pilot seat and commandeer the aircraft.  Your instructor will help you taxi the aircraft out of the ramp and receive clearance from the control tower.  Once airborne, you'll take control of the aircraft and practice basic maneuvers like flying straight and level, turns, climbs, and descents.</p>
    <p class="w-3/4 pb-10 font-semibold font-sans">Are you up for the opportunity that lies ahead?  Schedule a discovery flight now and see if flying is right for you.</p>
    <%= link_to "SCHEDULE DISCOVERY FLIGHT", root_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "st_louis_arch_aerial.webp", alt: "Discovery flight over the St. Louis Arch", class: "lg:h-screen-2/3 lg:px-12 lg:py-8"%>
  </div>
</section>

<section class="bg-gradient-to-r from-slate-300 to-slate-200 md:px-16">
  <h2 class="text-3xl font-semibold py-10 font-sans text-center px-5">Pilot Training Progression</h2>

  <div class="flex flex-col items-center">
    <p class="lg:w-1/2 lg:mx-16 mx-5 items-center p-text mb-10">
      At Ideal Aviation, we are committed to providing the highest quality training programs for our students. Our experienced instructors, state-of-the-art facilities, and modern training aircraft ensure that you receive the best possible training. Contact us today to learn more about our advanced training programs and take the first step towards achieving your aviation career goals!
    </p>
  </div>

  <div class="min-h-screen flex items-center justify-center">
    <div class="flex flex-col md:grid grid-cols-9 mx-auto p-2">
      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Private Pilot Certificate</h3>
          <p class="text-slate-200 p-text pb-5">A private pilot certificate is the place to start for those who have always dreamt of flying their own aircraft. This certificate allows you to operate an aircraft for non-commercial purposes.  Our expert instructors will guide you through the fundamentals of flight, teaching you how to take off, land, and navigate the skies with confidence.</p>
          <%= link_to "PRIVATE PILOT TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>

      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto hidden md:block relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>

        <div class="w-full col-start-6 col-end-10 my-4 mr-auto p-4 bg-ideal-blue rounded-xl">
          <h3 class="font-semibold text-xl mb-1 text-white">Instrument Rating</h3>
          <p class="text-slate-200 p-text pb-5">Take your flying to the next level. An Instrument Rating equips you with the knowledge and skills to fly in low visibility and adverse weather conditions using only your aircraft's instruments. This rating opens up a whole new world of possibilities, making you a safer and more proficient pilot.</p>
          <%= link_to "INSTRUMENT TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>
      </div>

      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Commercial Pilot Certificate</h3>
          <p class="text-slate-200 p-text pb-5">A commercial certificate allows you to fly for compensation or hire.  Our experienced instructors will help you master the skills needed to operate advanced aircraft, including advanced maneuvers and emergency procedures, ensuring that you are fully equipped for the challenges that lie ahead.</p>
          <%= link_to "COMMERCIAL TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>

      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto hidden md:block relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>

        <div class="w-full col-start-6 col-end-10 my-4 mr-auto p-4 bg-ideal-blue rounded-xl">
          <h3 class="font-semibold text-xl mb-1 text-white">Multi-Engine</h3>
          <p class="text-slate-200 p-text pb-5">Our multi-engine training program is designed to prepare you to operate complex aircraft with multiple engines. Our expert instructors will guide you through advanced systems and procedures, including engine management, emergency procedures, and more. With our advanced training program, you'll have the skills and confidence to fly multi-engine aircraft with ease.</p>
          <%= link_to "MULTI ENGINE TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>
      </div>

      <div class="flex flex-row-reverse md:contents">
        <div class="w-full col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto bg-ideal-blue">
          <h3 class="font-semibold text-xl mb-1 text-white">Certified Flight Instructor (CFI)</h3>
          <p class="text-slate-200 p-text pb-5">Pass on your knowledge and skills to future pilots and build time and experience. Our comprehensive training program will equip you with the knowledge and skills needed to become a competent and confident flight instructor. Our experienced instructors will provide you with the tools you need to prepare future pilots for their Private Pilot, Commercial, and Instrument Rating certificates.</p>
          <%= link_to "CFI TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>

        <div class="col-start-5 col-end-6 md:mx-auto hidden md:block relative mr-10">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>
      </div>


      <div class="flex md:contents">
        <div class="col-start-5 col-end-6 mr-10 md:mx-auto hidden md:block relative">
          <div class="h-full w-6 flex items-center justify-center">
            <div class="h-full w-0.5 bg-ideal-blue pointer-events-none"></div>
          </div>

          <div class="w-6 h-6 absolute top-1/2 -mt-3 border-2 border-ideal-blue rounded-full bg-ideal-blue shadow"></div>
        </div>

        <div class="w-full col-start-6 col-end-10 my-4 mr-auto p-4 bg-ideal-blue rounded-xl">
          <h3 class="font-semibold text-xl mb-1 text-white">Airline Transport Pilot (ATP)</h3>
          <p class="text-slate-200 p-text pb-5">This is the highest level of FAA pilot certification and is required if you want to work in the airlines.  Our ATP program is designed to prepare you for a career as a commercial airline pilot. Our advanced training program will provide you with the knowledge and skills needed to operate advanced aircraft, including jet engines and high-altitude flight. With our comprehensive ATP program, you'll be fully prepared to meet the challenges of a demanding aviation career.</p>
          <%= link_to "ATP TRAINING", root_path, class: "btn-primary bg-slate-500 hover:bg-slate-400 text-base" %>
        </div>
      </div>

    </div>
  </div>

</section>

<section>
    <div class="flex flex-col items-center">
      <h2 class="text-center font-semibold text-3xl py-20 hidden lg:block">What's the Difference Between Part 141 and Part 61 Training?</h2>
      <h2 class="text-center font-semibold text-2xl py-20 lg:hidden">What's the difference between <br>part 141 and part 61?</h2>
      <p class="w-4/5 lg:w-3/5 grid place-items-center pb-10 p-text">Part 141 and part 61 refer to different sections in the FAA regulations.  Part 141 is a more structured and rigorous training program that is designed for schools that are approved by the FAA to provide training under specific curricula.  Part 61, on the other hand, is a more flexible training program that allows for individualized training plans.  However due to the lack of structure, typically students may require more hours to complete part 61 training.</p>

    </div>

    <div class="flex flex-col lg:flex-row justify-center lg:items-center pl-10 lg:pl-36">
      
      
      <div class="lg:w-1/3">
        <h3 class="font-bold text-xl">Part 141</h3>
        <ul class="lg:pb-10 py-5 p-text">
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                Structured Curriculum
            </div>
          </li>
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                Fewer Required Hours
            </div>
          </li>
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                FAA Approved Syllabus
            </div>
          </li>
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                Flight School Must be FAA Certified
            </div>
          </li>
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                More Experienced Instructors
            </div>
          </li>
          <li class="pb-2">
            <div class="flex flex-row">
              <div class="text-ideal-blue pr-3 font-extrabold">✓</div>
                Geared Towards Career Pilots
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <p class="w-4/5 lg:w-3/5 grid place-items-center pb-20 text-lg text-center font-semibold">Ideal Aviation is one of the very few flight schools in the St. Louis area that is part 141.  We've even partnered with SWIC to provide flight training for college credit.</p>
    </div>
  </section>

  <section class="bg-gradient-to-r from-slate-300 to-slate-200  flex flex-col lg:flex-row items-center pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2 p-text">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">Is Flight Training Safe?</h2>
    <p class="w-3/4 pb-10"> It's natural to wonder about the risks involved when considering learning to fly. However, rest assured that flight training is a safe activity, with a strong emphasis on safety in all aspects of training.  The aviation industry places a high priority on safety, and this commitment extends to flight training at Ideal Aviation.</p>
    <p class="w-3/4 pb-10">The NTSB reported that the fatal accident rate for general aviation has been declining for over a decade, and in 2020, it reached its lowest level ever recorded.  In 2019, the FAA reported that the accident rate for Part 141 flight schools was lower than the rate for Part 61 flight schools.</p>
    <p class="w-3/4 pb-10 font-semibold font-sans">Our flight instructors are highly trained professionals who take safety seriously.  In addition, our aircraft are meticulously maintained and inspected regularly.</p>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "preflight.webp", alt: "Pilot performing a preflight check on a cessna 172", class: "lg:h-screen-2/3 "%>
    <span class="text-slate-500 italic hidden lg:block lg:w-1/2 text-center">Pilot conducting a pre-flight inspection to ensure the aircraft is safe to fly</span>
  </div>
</section>

<section class="bg-gradient-to-b from-slate-50 to-white flex flex-col lg:flex-row-reverse items-center pt-10 pb-0 lg:py-10">
  <div class="flex flex-col items-center justify-center lg:w-1/2 p-text">
    <h2 class="text-3xl font-semibold pb-10 font-sans mx-5 text-center">How Much is Flight Training Going to Cost?</h2>
    <p class="w-3/4 pb-10">The cost of flight training varies greatly depending on a number of factors such as type of training, the student's aptitude and experience level, and the type of aircraft used.</p>
    <p class="w-3/4 pb-10">When first starting out, many people only look at the hourly rate for aircraft rental.  However, take into consideration the program as a whole.  Ideal Aviation has great aircraft availability so you can fly more often and retain your knowledge and skills better so you can pass the checkride with less hours.</p>
    <p class="w-3/4 pb-10">Although the actual cost of flight training can vary widely, plan to budget around $15,000 for private pilot fixed wing and $30,000 for private pilot rotary wing.  To get more details on hourly rates, program pricing, and potential financing options; give us a call today and speak to an Ideal Aviation team member.</p>
    <%= link_to "CONTACT US TODAY", root_path, class: "btn-primary mb-10" %>
  </div>
  <div class="flex flex-col items-center lg:w-1/2">
    <%=image_tag "pilot_pass_multi_engine_checkride.webp", alt: "Discovery flight over the St. Louis Arch", class: "lg:h-screen-2/3"%>
    <span class="text-slate-500 italic hidden lg:block lg:w-1/2 text-center">Pilot passing her multi engine checkride</span>
  </div>
</section>

<section class="bg-gradient-to-t lg:bg-gradient-to-l from-ideal-blue to-ideal-blue flex flex-col items-center text-white">
  <div class="pt-10 flex flex-col items-center">
    <h2 class="text-center text-4xl font-bold pb-10">Careers in Aviation</h2>
    
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 pb-10 px-5">
      
      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "ideal_cfi.webp", class: "rounded-t-lg", alt: "CFI at Ideal Aviation"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Certified Flight Instructor
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
             This career involves teaching others to fly and helping them develop the skills and knowledge they need to become safe and competent pilots. If you're passionate about teaching and enjoy sharing your love of aviation with others, a career as a flight instructor could be a great fit. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "fighter_jet.webp", class: "rounded-t-lg", alt: "Fighter Jet"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Military Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you're interested in serving your country and flying advanced aircraft, a career in the military may be a good fit. This type of career typically involves serving in the Air Force, Navy, or another branch of the military, and can involve flying fighter jets, transport planes, or helicopters.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "crop_duster.webp", class: "rounded-t-lg", alt: "Crop Duster (Photo by Kevin Wood)"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Agricultural Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you enjoy flying and want to work in a unique and challenging environment, a career as an agricultural pilot may be worth considering. This type of career involves flying specialized aircraft to spray crops with pesticides or other chemicals, and requires specialized training and skills.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "atlas_air.webp", class: "rounded-t-lg", alt: "Atlas Air 747 (Photo by Bernal Saborio)"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Cargo Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you would rather transport goods instead of passengers, a career as a cargo pilot is a great fit. This type of career typically involves flying for cargo airlines and freight companies. Being a cargo pilot involves transporting goods both domestically and internationally.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "missionary_pilot.webp", class: "rounded-t-lg", alt: ""%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Missionary Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            This type of pilot career involves flying small aircraft to remote locations to deliver supplies, transport missionaries, and provide medical assistance.  If you have a passion for serving others and want to use your piloting skills to help people in need around the world, consider a career as a missionary pilot. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "news_helicopter.webp", class: "rounded-t-lg", alt: ""%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            News Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            This involves flying aircraft equipped with cameras and other equipment to cover breaking news stories and events from a unique perspective. If you enjoy journalism and flying, a career as a news anchor pilot may be a good fit. 
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "aerial_survey.webp", class: "rounded-t-lg", alt: ""%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Survey Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
             This type of pilot career typically involves flying small aircraft over specific areas to help surveyors gather data and images that are used for a variety of purposes such as land surveying, mapping, and environmental monitoring.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "gulfstream.webp", class: "rounded-t-lg", alt: "Gulstream (photo by Charly W. Karl)"%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Corporate or Charter Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            If you prefer to work in a more personalized setting, a career as a corporate or charter pilot may be a good fit. This type of career typically involves flying smaller aircraft for private companies or individuals, and can be a great way to build your flight hours and gain experience.
          </p>
        </div>
      </div>

      <div class="block max-w-sm rounded-lg bg-white shadow-lg">
        <%= image_tag "https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg", class: "rounded-t-lg", alt: ""%>
        <div class="p-6">
          <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 ">
            Airline Pilot
          </h5>
          <p class="mb-4 text-base text-neutral-600 ">
            As an airline pilot, you'll fly commercial airliners and transport passengers and cargo to destinations around the world. This is often seen as the ultimate goal for many pilots, and it typically requires thousands of flight hours and extensive experience.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render "shared/cta_book"%>  

<%= render "shared/cta_fly_with"%>  

<%= render "shared/footer"%>
<!--Sticky div-->
</div>