<%# Head / Meta Data %>
<% title("Ideal Aviation Team") %>
<% meta_description("Meet our team at Ideal Aviation.  We are a team of knowledgeble and safe flight instructors and aviation professionals.") %>
<% meta_keywords("Helicopter CFI st louis, airplane CFI st louis, CFI st louis, CFII in st louis") %>
<%# og_image(image_url("meta_pic_rrm.webp")) %>
<%# twitter_image(image_url("meta_pic_rrm_twitter.webp")) %>

<%= render "shared/header"%>
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:pt-16 lg:px-6 p-text">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl  font-bold text-slate-900 font-sans">Leadership Team</h2>
          <p class="font-light text-slate-500 lg:mb-16 lg:text-xl font-sans">Our leadership team is comprised of experienced aviation professionals who are passionate about aviation and committed to providing the highest level of training and support to our students.</p>
      </div> 
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
          <div class="items-center bg-slate-100 rounded-lg shadow  ">
              <%= image_tag "bill_macon_300.webp", class: "w-full rounded-t-lg", alt: "Bill Macon"%>
              <div class="p-5">
                <h3 class="text-xl font-semibold  text-slate-900 font-sans">
                    Bill Macon
                </h3>
                <span class="text-slate-500 ">Managing Director</span>
                <p class="mt-3 mb-4 font-light text-slate-500 font-sans">Bill comes from a family with a long history of aviation in St. Louis  Bill began his flight training when he acquired Ideal Aviation in 2011.</p>
              </div>
          </div> 
          <div class="items-center bg-slate-100 rounded-lg shadow">
              <%= image_tag "kimberly_300.webp", class: "w-full rounded-t-lg", alt: "Kimberly Nagel"%>
              <div class="p-5">
                <h3 class="text-xl font-semibold  text-slate-900 font-sans">
                    Kimberly Nagel
                </h3>
                <span class="text-slate-500 ">Director of Administration</span>
                <p class="mt-3 mb-4 font-light text-slate-500 font-sans">Kimberly Nagel is a management and accounting professional and joined Ideal Aviation in 2012. Kimberly has flown a variety of aircraft.</p>
              </div>
          </div> 
          <div class="items-center bg-slate-100 rounded-lg shadow">
            <%= image_tag "jim_300.webp", class: "w-full rounded-t-lg", alt: "Jim Moseley"%>
            <div class="p-5">
                <h3 class="text-xl font-semibold  text-slate-900 font-sans">
                    Jim Moseley
                </h3>
                <span class="text-slate-500 ">Chief Flight Instructor</span><br>
                <span class="text-slate-500 ">Director of Operations</span>
                <p class="mt-3 mb-4 font-light text-slate-500 font-sans">Jim graduated Magna-Cum-Laude from Saint Louis University with a B.S. in Flight Science. He and was awarded the 2018 Flight Instructor of the year in the St. Louis area.</p>
            </div>
          </div> 
      </div>  
  </div>
</section>

<section class="bg-white">
  <div class="pb-8 px-4 mx-auto max-w-screen-xl text-center lg:pb-16 lg:px-6">
      <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-slate-900 ">Our Instructors</h2>
          <p class="font-light text-slate-500 sm:text-xl dark:text-slate-400">Our experienced instructors at Ideal Aviation are committed to providing the highest quality flight training to students. With a passion for aviation and extensive knowledge, they create a supportive and safe learning environment for students to achieve their goals and become skilled pilots.</p>
      </div> 
      <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "jim_300.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Jim M"%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Jim M.
              </h3>
              <p>Chief Flight Instructor</p>
              <p>Fixed Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "jake_300.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Jake E."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Jake E.
              </h3>
              <p>Fixed Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "don-d-300-2.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Don D."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Don D.
              </h3>
              <p>Fixed Wing CFI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "dan-b-300-2.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dan B."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Dan B.
              </h3>
              <p>Fixed Wing CFI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Kevin H."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Kevin H.
              </h3>
              <p>Rotary Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "josh_f_300.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Josh F."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Josh F.
              </h3>
              <p>Rotary Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "joe-g-300.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Joe G."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Joe G.
              </h3>
              <p>Fixed Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "eric-b-300.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Eric B."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Eric B.
              </h3>
              <p>Rotary Wing CFI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Andrew D."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Andrew D.
              </h3>
              <p>Fixed Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Nathaniel J."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Nathaniel J.
              </h3>
              <p>Fixed Wing CFI, MEI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dillon J."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Dillon J.
              </h3>
              <p>Fixed Wing CFI, MEI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Mike W."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Mike W.
              </h3>
              <p>Fixed Wing CFI, CFII</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dean P."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Dean P.
              </h3>
              <p>Fixed Wing CFI, CFII, MEI</p>
          </div>
          <div class="text-center text-slate-500 dark:text-slate-400">
              <%= image_tag "silhouette.webp", class: "mx-auto mb-4 w-36 h-36 rounded-full", alt: "Dean P."%>
              <h3 class="mb-1 text-2xl font-bold tracking-tight text-slate-900 ">
                  Alma K.
              </h3>
              <p>Fixed Wing CFI</p>
          </div>
      </div>  
  </div>
</section>

<%= render "shared/cta_were_experts"%>
<%= render "shared/footer"%>
