<div x-data="{ currentPage: 1 }" class="max-w-sm px-5">
  <%= form_with(model: quiz_result, class: "contents") do |form| %>
    <% if quiz_result.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

        <ul>
          <% quiz_result.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div x-show="currentPage === 1" class="flex flex-col justify-between">
      <div class="">
    <div class="my-5">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5 flex flex-col">
      <%= form.label :email %>
      <%= form.text_field :email, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5 flex flex-col">
      <span class="font-sans">Phone</span>
      <%= form.text_field :phone, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :program %>
      <%= form.text_field :program, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :why_pilot %>
      <%= form.text_area :why_pilot, rows: 4, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :previous_training %>
      <%= form.text_field :previous_training, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :wings_lift %>
      <%= form.text_area :wings_lift, rows: 4, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :want_cfi %>
      <%= form.text_area :want_cfi, rows: 4, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :goals %>
      <%= form.text_area :goals, rows: 4, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :schedule_visit %>
      <%= form.check_box :schedule_visit, class: "block mt-2 h-5 w-5" %>
    </div>

    <div class="my-5">
      <%= form.label :preferred_date %>
      <%= form.date_field :preferred_date, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :preferred_availability %>
      <%= form.text_field :preferred_availability, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :alternate_date %>
      <%= form.date_field :alternate_date, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :alternate_availability %>
      <%= form.text_field :alternate_availability, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="my-5">
      <%= form.label :comments %>
      <%= form.text_area :comments, rows: 4, class: "block rounded-md border border-slate-200 outline-none px-3 py-2 mt-2 w-full focus:border-ideal-blue focus:ring-ideal-blue" %>
    </div>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>