<% title("Become a Certified Flight Instructor | Your Pilot Career at Ideal Aviation St. Louis") %>
<% meta_description("Come train at Ideal Aviation.  We offer courses from private pilot to CFII and MEI.  Get your CFI certification done in the best flight school in St. Louis") %>
<% meta_keywords("Certified Flight Instructor, CFI Training, Pilot Career Launch, Flight Instructor Experience, Ideal Aviation St. Louis, Aviation Mentorship") %>
<%= render "shared/header"%>
<section class="bg-cfi-jump bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
  <h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Become a Certified Flight Instructor</h1>
  <h2 class="lg:text-3xl text-xl italic font-semibold pb-10 text-center">Start your pilot career after achieving your commercial certificate</h2>
  <%= link_to "GET STARTED",  "#form-section", data: { turbo: false }, class: "btn-primary"%>
</section>
<section class="bg-ideal-blue-dark pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="text-center lg:text-left">
        <h2 class="font-semibold text-4xl text-white pb-4 text-center">Why Become a CFI?</h2>
        <div class="text-white px-6 lg:pl-0 lg:pr-8 p-text">
          <p class="pb-5">
            The primary reason pilots choose to become a Certified Flight Instructor (CFI) is the pursuit of experience and the accrual of flight hours. In the aviation industry, especially for highly sought roles like commercial airline pilots, meeting ATP minimums and specific flight hours is required. Many pilots opt for flight instruction as their first pilot job which offers rapid progress in flight time accumulation. Guiding students in the art of safe and proficient aircraft operation not only imparts essential skills but also solidifies the knowledge garnered during your personal flight training journey. Over time, flight instructors become seasoned aviators, proficiently equipped to both train and endorse fellow pilots for FAA practical evaluations.
          </p>
          <p class="pb-5 font-bold underline font-sans text-3xl">
            Begin your pilot career at Ideal Aviation
          </p>
        </div>
      </div>
    </div>
    <!--Picture-->
    <div class="lg:w-1/2 lg:py-6 lg:flex flex-col items-center">
      <div class="flex flex-col items-center">
        <%=image_tag "ideal-cfi-with-private-pilot.webp", alt: "Ideal Aviation CFI with a student who just passed their private pilot checkride", class: "lg:w-5/6"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-t from-blue-300 to-blue-50 pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <h2 class="font-semibold text-4xl text-black pb-4 text-center lg:px-20">How to Become a Certified Flight Instructor?</h2>
      <div class="text-black px-10 p-text lg:max-w-xl">
        <p class="pb-5">
          Meeting the Federal Aviation Regulations (FAR/AIM) requirements is essential on the path to becoming a Certified Flight Instructor (CFI) at Ideal Aviation. To obtain your instructor's certificate, aspiring CFIs must hold a Commercial Pilot Certificate and have logged a minimum of 250 flight hours, including specific experience in different aircraft categories. Successful completion of a CFI ground school and passing the Fundamentals of Instruction (FOI) knowledge test are also crucial milestones. At Ideal Aviation, we provide structured training to ensure you meet these requirements and equip you with the teaching skills and aviation expertise needed to inspire and mentor future pilots.
        </p>
        <p class="pb-5">
          <span class="font-bold font-sans text-2xl">Choose Ideal Aviation and Begin Your Certified Flight Instructor Training Today</span>
        </p>
        <p class="pb-5">
          Ideal Aviation is the place for pilots becoming a Certified Flight Instructor (CFI). Our staff and team of seasoned CFI professionals provides unparalleled mentorship and support, ensuring you receive the best guidance on your journey to your CFI certification. Our modern fleet of well maintained aircraft is specially equipped to meet the demands of CFI training. Located conveniently near downtown St. Louis, Ideal Aviation offers easy access for local and visiting candidates. Join Ideal Aviation, where our commitment to CFI excellence becomes your key to a successful career in aviation education.
        </p>
        <p class="grid place-items-center pb-10">
          <%= link_to "CONTACT US",  contact_path, data: { turbo: false }, class: "btn-primary"%>
        </p>
      </div>
    </div>
    <div class="lg:w-1/2">
      <%= image_tag "ideal-team-2020.webp", alt: "Ideal Aviation Alumni in front of plane", class: ""%>
    </div>
  </div>
</section>

<!--Eligibility Reqs-->
<section class="bg-gradient-to-b from-blue-50 to-blue-200 text-black py-20">
  <div class="flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="lg:text-left">
        <h2 class="font-semibold text-2xl lg:text-4xl text-center pb-4">What Are the Eligibility Requirements to Become a CFI?</h2>
        <div class="text-base px-6 lg:pl-0 lg:pr-8">
          <p class="my-2 pb-5 font-semibold text-2xl">
            Requirements:
            <ul class="list-disc list-inside border-b-2 border-slate-300 pb-3 pl-3">
              <li class="mb-2">Must be minimum age of 18.</li>
              <li class="mb-2">Possess a strong command of the English language, ensuring your ability to read, speak, write, and understand effectively.</li>
              <li class="mb-2">
                Hold either a <a class="text-blue-800 hover:underline" href="<%= commercial_certificate_path %>">commercial pilot certificate</a>
                or an airline transport pilot certificate with an <a class="text-blue-800 hover:underline" href="<%= instrument_rating_path %>">instrument rating</a>.
              </li>
              <li class="mb-2">Accumulate a minimum of 250 flight hours
              </li>
              <li class="mb-2">Secure a valid FAA 3rd Class Medical Certificate or a higher class.
              </li>
              <li class="mb-2">Receive a logbook endorsement from an authorized instructor.
              </li>
              <li class="mb-2">Pass a knowledge and practical test to demonstrate your proficiency in aeronautical knowledge areas relevant to the flight instructor rating you're pursuing.
              </li>
            </ul>
          </p>
          <p class="text-xs mt-4">Reference <a class="text-blue-800 hover:underline" href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61#sp14.2.61.h">14 CFR ยง61.183</a> for the entire list of eligibility requirements.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-10" id="form-section">
  <div class="flex flex-col lg:flex-row lg:place-content-evenly">
    <div class="lg:w-1/2 lg:px-20 px-10 flex flex-col items-center">
      <h2 class="font-semibold text-3xl text-center  pb-5">Your Pilot Career at Ideal Aviation</h2>
      <h3 class="italic text-lg pb-5">Fill out the form to get started.  We'll reach out to you and pair you up with an instructor.  Ideal Aviation is the place for pilots to get their CFI certification in the St. Louis area.</h3>
      <%= image_tag "ideal-cfi-jake-pass-cfii.webp", alt: "Ideal Aviation CFI right after he passed his CFII checkride", class: "lg:w-3/4 pb-5"%>
      <div class="italic text-slate-500 text-sm text-center">Ideal Aviation CFI right after he passed his CFII checkride</div>
    </div>
    <div class="p-10 lg:w-2/6 lg:p-10 md:p-20 sm:p-10">
      <%= turbo_frame_tag "advance_training_form" do %>
        <%= render "form", advance_training: @advance_training, advanced_page: @advanced_page %>
      <% end %>
    </div>
  </div>
</section>
<%= render "shared/testimonials"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
