<% title("Get Your Commercial Pilot Certificate | Ideal Aviation Training") %>
<% meta_description("Start your journey towards a rewarding aviation career with a Commercial Pilot Certificate from Ideal Aviation. Learn from experienced instructors, master flight skills, and meet the requirements for a successful career as a commercial pilot.") %>
<% meta_keywords("Commercial Pilot Certificate, Aviation Career, Commercial Pilot St. Louis, Commericial Pilot Certificate, Flight Training, Ideal Aviation, Pilot Skills, Flight Experience") %>
<%= render "shared/header"%>
<section class="bg-hangarbg2 bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
  <h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Get Your Commercial Pilot Certificate</h1>
  <h2 class="lg:text-3xl text-xl italic font-semibold pb-10 px-5 text-center">Start flying for compensation or hire. Turn your passion for flying into a career</h2>
  <a href="#form-section", class="btn-primary" onclick="event.preventDefault(); document.getElementById('form-section').scrollIntoView({ behavior: 'smooth'});">GET STARTED</a>
  <%#= link_to "GET STARTED",  "#form-section", data: { turbo: false }, class: "btn-primary"%>
</section>
<section class="bg-ideal-blue-dark pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="text-center lg:text-left">
        <h2 class="font-semibold text-4xl text-white pb-4 text-center">Thinking About Getting Your Commercial Done?</h2>
        <div class="text-white px-6 lg:pl-0 lg:pr-8 p-text">
          <p class="pb-5">
            Fly for hire or compensation.  If you're looking to make a career out of flying, then getting your commerical pilot certificate is the certificate you need to start getting paid to fly.  If you're looking to instruct in the near future, then getting your commerical out of the way and complete one more prerequisite.  If you're looking to go to the airlines, fly corporate or charter, or even thinking of something else - Ideal Aviation is here to support you and your goals.
          </p>
          <p class="pb-5 font-bold underline font-sans text-3xl">
            Get paid to fly
          </p>
          <p class="pb-5">
            Ideal Aviation is the place in St. Louis to get your commercial certicate.  Ideal Aviation is the place for pilots.  We're here to support you and help you acheive your aviation goals.
          </p>
        </div>
      </div>
    </div>
    <!--Picture-->
    <div class="lg:w-1/2 lg:py-6 lg:flex flex-col items-center">
      <div class="flex flex-col items-center">
        <%=image_tag "commercial-checkride-pass-helicopter.webp", alt: "Ideal Aviation Student Passing His Commericial Checkride for Helicopters", class: "lg:w-5/6"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-t from-blue-300 to-blue-50 pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <h2 class="font-semibold text-4xl text-black pb-4 text-center lg:px-20">How to Get Your Commercial Pilot Certificate</h2>
      <div class="text-black px-10 p-text lg:max-w-xl">
        <p class="pb-5">
          To start training for your commerical, you need to already hold a Private Pilot Certificate and have accumulated a minimum of 250 flight hours, including 100 hours of pilot-in-command time. Our program focuses on enhancing your flight proficiency with refining your maneuvers, navigation skills, and aeronautical decision making abilities.  You'll need at least 20 hours of training with hours in instrument and complex/TAA aircraft (Requirements for helicopter and fixed wing differ - talk to a CFI today for more details).
        </p>
        <p class="pb-5">
          <span class="font-semibold font-sans text-2xl">Choose Ideal Aviation and Start Your Commercial Pilot Training Today</span>
        </p>
        <p class="pb-5">
          Our experienced team of instructors brings a wealth of real world aviation expertise, ensuring that you receive unparalleled guidance throughout your journey. With our state of the art facilities and aircraft, we provide the tools you need to master advanced flight techniques and navigate complex scenarios with confidence. At Ideal Aviation, we are not just committed to helping you attain a certificate - we are dedicated to training you into a capable, adaptable, proficient, and safe commercial pilot.
        </p>
        <p class="grid place-items-center pb-10">
          <%= link_to "CONTACT US",  contact_path, data: { turbo: false }, class: "btn-primary"%>
        </p>
      </div>
    </div>
    <div class="lg:w-1/2">
      <%=image_tag "commercial-checkride-pass.webp", alt: "Ideal Aviation Student Passing His Commericial Checkride for Helicopters", class: ""%>
    </div>
  </div>
</section>
<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-slate-800">
  <!--Step 1-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300">
    <div class="p-10 "><%=image_tag "commercial-step-flying-1.webp", alt: "pilot-on-flight", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 1. Build the Flight Hours</h3>
    <p class="text-base w-3/4 p-text">
      Our program guides you towards amassing the required 250 flight hours, including 100 hours as PIC. With a structured blend of flight training, cross country missions, and solo experiences, you'll gain the necessary hands on exposure to diverse flying conditions, enhancing your skills and building the confidence that defines a seasoned commercial pilot.
    </p>
  </div>
  <!--Step 2-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300  lg:h-full">
    <div class="p-10"><%=image_tag "group-ground-small.webp", alt: "Ideal Aviation Students Doing Ground Lesson", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 2. Pass the Written Exam</h3>
    <p class="text-base w-3/4 p-text">
      Our comprehensive curriculum covers a wide spectrum of subjects, from aviation regulations and meteorology to navigation and aerodynamics. Our experienced instructors ensure that you are well equipped to succeed in the written examination. We provide targeted guidance to help you not only pass the test but also acquire a good understanding of necessary aeronautical knowledge.
    </p>
  </div>
  <!--Step 3-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300">
    <div class="p-10 "><%=image_tag "commercial-step-flying-3.webp", alt: "Pilot about to go on a cross country at Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 3. Complete Requirements</h3>
    <p class="text-base w-3/4">
      Achieving your Commercial Pilot Certificate involves fulfilling specific flight requirements, including demanding long cross country flights and other critical experiences. At Ideal Aviation, our commercial program ensures that you master advanced flight maneuvers and precise navigation techniques. With your long cross country flight, you'll demonstrate your ability to plan and execute complex missions, showcasing your aptitude for real world challenges.
    </p>
  </div>
  <!--Step 4-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300 mb-10 lg:mb-0">
    <div class="p-10"><%=image_tag "commercial-checkride-pass-airplane.webp", alt: "An Ideal Aviation student right after passing his commercial checkride", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 4. Pass the Commercial Checkride</h3>
    <p class="text-base w-3/4">
      With a focus on safety and precision, our instructors ensure that you are thoroughly ready for the check ride. As you confidently take to the skies with the examiner, you'll showcase the culmination of your training and the expertise you've gained throughout your journey with Ideal Aviation.
    </p>
  </div>
</section>
<!--Eligibility Reqs-->
<section class="bg-gradient-to-b from-blue-50 to-blue-200 text-black py-20">
  <div class="flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="lg:text-left">
        <h2 class="font-semibold text-2xl lg:text-4xl text-center pb-4">Eligibility Requirements for a Commercial Pilot Certificate</h2>
        <div class="text-base px-6 lg:pl-0 lg:pr-8">
          <p class="pb-5">
            To qualify for an FAA commercial pilot license, individuals need to meet specific criteria. This includes being at least 18 years old and possessing the ability to comprehend and communicate effectively in the English language, encompassing reading, speaking, and writing skills. 
          </p>
          <p class="my-2 pb-5 font-semibold text-2xl">
            Requirements:
            <ul class="list-disc list-inside border-b-2 border-slate-300 pb-3 pl-3">
              <li class="mb-2">Holding a current private pilot certificate</li>
              <li class="mb-2">Receiving ground training from an authorized instructor or completing a home study course for aeronautical knowledge</li>
              <li class="mb-2">Logbook Endorsements from an instructor:
                <ul class="list-disc list-inside pl-4 pt-2">
                  <li class="mb-2">Obtain instructor endorsements in your logbook, allowing you to take the aeronautical knowledge test.</li>
                  <li class="mb-2">Secure logbook endorsements to participate in the practical test</li>
                </ul>
              </li>
              <li class="mb-2">Test Requirements:
                <ul class="list-disc list-inside pl-4 pt-2">
                  <li class="mb-2">Pass and complete the commercial pilot knowledge test</li>
                  <li class="mb-2">Pass and complete the commercial pilot practical test, also referred to as the checkride</li>
                </ul>
              </li>
            </ul>
          </p>
          <p class="my-2 pb-5 font-semibold text-2xl">
            Aeronautical Experience & Qualifications</p>
          <p class="my-2 pb-5 font-semibold text-l">In accordance with federal regulations, you need to have documented the specified aeronautical flight experience prerequisites to qualify for a commercial pilot license.</p>
          <p class="my-2 pb-5 font-semibold text-2xl">
            Commercial Pilot Flight Time Requirements:
            <ul class="list-disc list-inside pb-3 pl-3">
              <li class="mb-2">Accumulate a total flight time of at least 250 hours</li>
              <li class="mb-2">Attain a minimum of 100 hours as pilot-in-command (PIC)</li>
              <li class="mb-2">Complete 50 hours of cross-country flight time as PIC</li>
              <li class="mb-2">Obtain 10 hours of dedicated instrument training</li>
              <li class="mb-2">Fulfill 10 hours of flight time in Technically Advanced Aircraft (TAA)</li>
              <p class="text-xs mt-4">Reference <a class="text-blue-800 hover:underline" href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61/subpart-F/section-61.129">14 CFR ยง61.129</a> for the entire list of eligibility requirements.  Note that above listed are for fixed wing.</p>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="" id="form-section"></div>
</section>
<section class="py-10">
  <div class="flex flex-col lg:flex-row lg:place-content-evenly">
    <div class="lg:w-1/2 lg:px-20 px-10 flex flex-col items-center">
      <h2 class="font-semibold text-3xl text-center  pb-5" >Start Your Commercial Training Today</h2>
      <h3 class="italic text-lg pb-5">Fill out the form to get started.  We'll reach out to you and pair you up with an instructor.  Ideal Aviation is the best place to get your commercial certificate in the St. Louis area.</h3>
      <%= image_tag "commercial-checkride-pass-helicopter.webp", alt: "Ideal Aviation student right after he passed his commercial checkride", class: "lg:w-3/4 pb-5"%>
      <div class="italic text-slate-500 text-sm text-center">Ideal Aviation student right after he passed his commercial checkride</div>
    </div>
    <div class="p-10 lg:w-2/6 lg:p-10 md:p-20 sm:p-10">
      <%= turbo_frame_tag "advance_training_form" do %>
        <%= render "form", advance_training: @advance_training, advanced_page: @advanced_page %>
      <% end %>
    </div>
  </div>
</section>
<%= render "shared/testimonials"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
