<%= turbo_frame_tag "advance_training_form", class: "w-full" do %>
  <div class="max-w-xl px-10">
    <p class="px-5 p-text pb-5">
    Thank you<%if notice.present?%>, <%= notice %>,<%end%> for reaching out about completing your <%if alert.present?%> <%= alert %><%end%>.
    A member of our team will be in touch shortly to talk about your aviation goals. You can also give us a call at <%=link_to "1-618-337-5845", "tel:1-618-337-5845" %> or email us at <%= mail_to 'info@idealaviationstl.com', class: "text-slate-800 hover:underline"%>
  </div>
  <%# GOOGLE TAG ONLY SHOW DURING PRODUCTION ENVIRONMENT%>
  <% if Rails.env.production? %>
    <!--Call Rail ### DISABLE FOR NOW ###-->
    <!--<script type="text/javascript" src="//cdn.callrail.com/companies/272286455/b900699f66a718ff6366/12/swap.js"></script>-->
    <!-- Google Analytics // Google tag (gtag.js) -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJHVGV48"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
      // Consolidated Google Analytics and Google Tag Manager Scripts
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);

        // Google Analytics Script
        w.dataLayer = w.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3SVR01EH4G');
      })(window,document,'script','dataLayer','GTM-PJHVGV48');
    </script>
  <%end%>



<% end %>


