<%= render "shared/header"%>
<% if flash[:notice].present? %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<section class="bg-ifr-flight2 bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
  <h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Get Your Instrument Rating</h1>
  <h2 class="lg:text-3xl text-xl italic font-semibold pb-10 text-center">Take the next step after your private pilot training</h2>
  <%= link_to "GET STARTED",  contact_path, data: { turbo: false }, class: "btn-primary"%>
</section>

<section class="bg-ideal-blue-dark pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="text-center lg:text-left">
        <h2 class="font-semibold text-4xl text-white pb-4 text-center">Why an Instrument Rating?</h2>
        <div class="text-white px-6 lg:pl-0 lg:pr-8 p-text">
          <p class="pb-5">
            Passing your private pilot checkride and receiving your private Pilot Certificate is a remarkable accomplishment, and an Instrument Rating takes your flying skills to a whole new level. When you get your instrument rating, you'll acquire the skills to confidently navigate aircraft solely by instruments, regardless of external visual references. This mastery of precision flying opens doors to new flying experiences and enhances your overall piloting skills. Imagine confidently handling complex flight scenarios, from navigating through challenging weather conditions to performing pinpoint approaches.
          </p>
          <p class="pb-5 font-bold underline font-sans text-3xl">
            The Instrument Rating Makes You a Better and Safer Pilot
          </p>
          <p class="pb-5">
            Getting your instrument rating is the next step after your private pilot certificate and allows you to fly in challenging weather conditions.
          </p>
        </div>
      </div>
    </div>
    <!--Picture-->
    <div class="lg:w-1/2 lg:py-6 lg:flex flex-col items-center">
      <div class="flex flex-col items-center">
        <%=image_tag "in-between-clouds-ifr.webp", alt: "Flying in between the clouds on an instrument flight", class: "lg:w-5/6"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-t from-blue-300 to-blue-50 pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <h2 class="font-semibold text-4xl text-black pb-4 text-center lg:px-20">How to Get Your Instrument Rating</h2>
      <div class="text-black px-10 p-text lg:max-w-xl">
        <p class="pb-5">
          Ideal Aviation is dedicated to supporting you on your journey towards becoming an instrument pilot. Whether you're a private pilot seeking to enhance your skills or you have aviation as a career in mind, we're here for you. Our program seamlessly blends comprehensive ground school instruction with immersive hands on flight training, equipping you with the expertise to confidently navigate and operate aircraft relying solely on instruments.
        </p>
        
        <p class="pb-5">
          <span class="font-bold font-sans text-2xl">Choose Ideal Aviation and Start Your Instrument Training Today</span>
        </p>
        
        <p class="pb-5">
          Learn how to better understand tough weather scenarios and execute instrument approaches to land the aircraft safely. Our experienced certified flight instructors (CFII) will help you become a better and safer pilot.
        </p>
        
        <p class="grid place-items-center pb-10">
          <%= link_to "CONTACT US",  contact_path, data: { turbo: false }, class: "btn-primary"%>
        </p>
      </div>
    </div>

    <div class="lg:w-1/2">
      <%= image_tag "pilot-flying-on-ifr-flight.webp", alt: "Pilot smiling for a picture in the middle of an IFR flight at Ideal Aviation", class: ""%>
    </div>
  </div>
</section>

<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-slate-800">
  
  <!--Step 1-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300 border-b-2 lg:border-b-0">
    <div class="p-10 "><%=image_tag "group-flight-ifr.webp", alt: "Group flight in IFR flying at Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 1. Start Flight Training</h3>
    <p class="text-base w-3/4 p-text">
      Start your Instrument Rating by pairing up with a CFII. Accumulate a minimum of 50 hours of cross country flight time as PIC, including 40 hours of dedicated instrument training. Through guided practice in navigating approaches and holds, you'll gain the confidence to fly solely by reference to instruments, enabling safe and effective flight in diverse conditions.
    </p>
  </div>

  <!--Step 2-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300 border-b-2 lg:border-b-0  lg:h-full">
    <div class="p-10"><%=image_tag "ifr-flying.webp", alt: "Flying a Cessna 172 in IMC on IFR flight at Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 2. Pass the Written Exam</h3>
    <p class="text-base w-3/4 p-text">
      Prepare to succeed by learning the topics covered in the Instrument Rating written exam. Study regulations, navigation, meteorology, and instrument systems, demonstrating a comprehensive understanding of instrument flight principles. Passing this exam not only signifies your theoretical expertise but also solidifies your ability to make informed decisions in real world instrument flying situations.
    </p>
  </div>

  <!--Step 3-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300 border-b-2 lg:border-b-0">
    <div class="p-10 "><%=image_tag "pilot-thumbs-up-about-to-go-ifr-flight.webp", alt: "Pilot about to go on a cross country at Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 3. Complete Long Cross Country</h3>
    <p class="text-base w-3/4">
      A pivotal step in your journey is completing an instrument cross-country flight, covering a minimum of 250 nautical miles along airways or ATC-directed routes. This experience equips you with the ability to navigate under IFR conditions, exposing you to diverse weather and navigation challenges. Successfully completing this flight showcases your proficiency in real-world instrument navigation.
    </p>
  </div>

  <!--Step 4-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300">
    <div class="p-10"><%=image_tag "pilot-giving-thumbs-up-after-instrument-checkride.webp", alt: "An Ideal Aviation student right after passing his checkride", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 4. Complete the Instrument Checkride</h3>
    <p class="text-base w-3/4">
      The checkride marks the culmination of your efforts, assessing both your theoretical knowledge and practical instrument flying skills. Pass the oral portion of the exam which covers regulations, procedures, and decision making. Then, complete a flight test where you'll demonstrate precise instrument maneuvers, approaches, and communications. Upon passing, you'll emerge as a confident instrument rated pilot, ready to safely navigate the skies in challenging weather conditions.
    </p>
  </div>
</section>

<section class="bg-blue-900 py-20">
  <div class="flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="lg:text-left">
        <h2 class="font-extrabold text-4xl text-white pb-4">Eligibility Requirements for an Instrument Rating</h2>
        <div class="text-base text-white px-6 lg:pl-0 lg:pr-8">
          <p class="pb-5">
            Achieving an Instrument Rating opens up a new realm of aviation expertise. This coveted rating demands a solid foundation as you venture into the intricacies of instrument piloting.
          </p>
          <p class="my-2 pb-5 font-extrabold text-2xl">
            To qualify, you must demonstrate proficiency in:
            <ul class="list-disc list-inside border-b-2 pb-3 pl-3">
              <li class="mb-2">Reading, speaking, writing, and comprehending English</li>
              <li class="mb-2">Holding a current private pilot certificate or applying for one alongside the instrument rating</li>
              <li class="mb-2">Receiving ground training from an authorized instructor or completing a home study course for aeronautical knowledge</li>
              <li class="mb-2">Passing the instrument rating knowledge test with instructor endorsement</li>
              <li class="mb-2">Completing the required flight training</li>
              <p class="text-xs mt-4">Reference <a class="text-blue-300" href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61#61.65">14 CFR ยง61.65</a> for the entire list of eligibility requirements.</p>
            </ul>
          </p>
          <p class="my-2 pb-5 font-extrabold text-2xl">
            As you embark on this journey, you'll delve into a comprehensive curriculum, including topics like:
            <ul class="list-disc list-inside border-b-2 pb-3 pl-3">
              <li class="mb-2">IFR flight planning and filing</li>
              <li class="mb-2">Navigation during departure, en route, and arrival in IFR conditions</li>
              <li class="mb-2">Understanding airplane systems for IFR operations</li>
              <li class="mb-2">Instrument flight deck checks</li>
              <li class="mb-2">Air traffic control clearances and procedures</li>
              <li class="mb-2">Various instrument approach procedures</li>
              <li class="mb-2">Emergency operations within IFR</li>
              <li class="mb-2">Weather information analysis</li>
            </ul>
          </p>
          <p class="my-2 pb-5 font-extrabold text-2xl">
            Your journey towards the Instrument Rating also involves achieving specific aeronautical flight experience:
            <ul class="list-disc list-inside border-b-2 pb-3 pl-3">
              <li class="mb-2">Clock in a minimum of 50 hours of cross-country pilot-in-command (PIC) time</li>
              <li class="mb-2">Log 40 hours of instrument time, whether actual or simulated</li>
              <li class="mb-2">Receive at least 15 hours of flight time from an authorized instructor</li>
              <li class="mb-2">Conquer a cross-country flight of 250 nautical miles, meeting specific instrument requirements</li>
              <p class="text-xs mt-4">Reference <a class="text-blue-300" href="https://www.ecfr.gov/current/title-14/chapter-I/subchapter-D/part-61#61.65">14 CFR ยง61.65</a> for the entire list of eligibility requirements.</p>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="bg-gray-800 block text-center text-4xl items-end  p-text text-gray-300 border-b-2 lg:border-b-0 pb-20 pt-5">
  <a href="<%= new_advance_training_path(:certificate_sought => "instrument_rating", title: "Instrument Rating") %>" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 transform hover:scale-105">
    Enroll Now for Your Instrument Rating
  </a>
</div>
<%= render "shared/cta_discovery_flight_right"%>
<%= render "shared/after_discovery"%>
<%= render "shared/testimonials"%>
<%= render "shared/cta_fly_with"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
