<%= render "shared/header"%>
<% if flash[:notice].present? %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<section class="bg-ifr-flight4 bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
  <h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Get Your Multi Engine Rating</h1>
  <h2 class="lg:text-3xl text-xl italic font-semibold pb-10 text-center">Take the next step after your private pilot training</h2>
  <%= link_to "GET STARTED",  "#form-section", data: { turbo: false }, class: "btn-primary"%>
</section>
<section class="bg-ideal-blue-dark pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="text-center lg:text-left">
        <h2 class="font-semibold text-4xl text-white pb-4 text-center">Why Take a Multi Engine Rating?</h2>
        <div class="text-white px-6 lg:pl-0 lg:pr-8 p-text">
          <p class="pb-5">
            Embrace the benefits of a Multi-Engine Rating to amplify your aviation prowess. By mastering multi-engine aircraft, you enhance your competence, elevating safety and self-assurance in the skies. This rating grants access to more advanced aircraft, expands your career horizons, and bestows you with a sought-after certification. Ideal Aviation's Multi-Engine Rating program equips you with the skills to navigate intricate systems, refining your piloting finesse and positioning you for triumph in the dynamic world of aviation.
          </p>
          <p class="pb-5 font-bold underline font-sans text-3xl">
            Fuel your career, embrace your passion, and dive into an exhilarating odyssey with the Multi-Engine Rating – where the skies are merely the beginning of your extraordinary voyage!
          </p>
          <p class="pb-5">
            Elevate your horizons with a Multi-Engine Rating – Your Passage to Exciting Possibilities!
          </p>
        </div>
      </div>
    </div>
    <!--Picture-->
    <div class="lg:w-1/2 lg:py-6 lg:flex flex-col items-center">
      <div class="flex flex-col items-center">
        <%=image_tag "multi-engine-sky-view.webp", alt: "Flying over an airport view", class: "lg:w-5/6"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-t from-blue-300 to-blue-50 pt-10 lg:py-20">
  <div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <h2 class="font-semibold text-4xl text-black pb-4 text-center lg:px-20">How to Get Your Multi Engine Rating</h2>
      <div class="text-black px-10 p-text lg:max-w-xl">
        <p class="pb-5">
          Discover the artistry of multi-engine aircraft alongside our seasoned instructors, who will adeptly navigate you through a comprehensive training journey. With its sophisticated systems, twin engines, and heightened performance capabilities, Ideal Aviation's Piper Seminole stands as the ultimate platform for refining your multi-engine skills. Whether you aspire to a professional pilot path or seek to expand your horizons, our multi-engine training program at Ideal Aviation guarantees to equip you with the adeptness and self-assurance required to conquer the skies. Elevate your aviation proficiency and soar toward accomplishment in partnership with us.
        </p>
        <p class="pb-5">
          <span class="font-bold font-sans text-2xl">Choose Ideal Aviation and Start Your Multi-Engine Rating Today</span>
        </p>
        <p class="pb-5">
          A Multi-Engine Rating is a pilot qualification that authorizes you to serve as pilot-in-command (PIC) of aircraft featuring multiple engines. This essential certification is a valuable addition for aspiring pilots aiming to progress into the airline industry or enhance their appeal in the competitive aviation job market.
        </p>
        <p class="grid place-items-center pb-10">
          <%= link_to "CONTACT US",  contact_path, data: { turbo: false }, class: "btn-primary"%>
        </p>
      </div>
    </div>
    <div class="lg:w-1/2">
      <%= image_tag "multi-engine-aircraft.webp", alt: "Image of multi engine aircraft in Ideal Aviation", class: ""%>
    </div>
  </div>
</section>
<section class="flex flex-col lg:flex-row pt-10 pb-0 lg:py-10 bg-slate-800">
  <!--Step 1-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300">
    <div class="p-10 "><%=image_tag "multi-engine-aircraft-n611r.webp", alt: "Image of multi engine aircraft N611R in Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 1. Start Flight Training</h3>
    <p class="text-base w-3/4 p-text">
      Experience the dynamic realm of multi-engine aircraft as our seasoned instructors lead you through comprehensive training. Discover advanced systems, twin engines, and heightened performance capabilities within Ideal Aviation's Piper Seminole—an exceptional arena for refining your multi-engine skills. Whether you're driven by aspirations of a professional pilot career or a desire to broaden your aviation horizons, our multi-engine training program at Ideal Aviation will empower you with the mastery and confidence essential to conquer the skies. Elevate your flying prowess and soar toward success with us.
    </p>
  </div>
  <!--Step 2-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300  lg:h-full">
    <div class="p-10"><%=image_tag "multi-engine-aircraft-parked.webp", alt: "Multi engine aircraft", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 2. Pass the Written Exam</h3>
    <p class="text-base w-3/4 p-text">
      As part of the process to obtain a Multi-Engine Rating, you'll need to successfully pass a written exam. This exam evaluates your knowledge of multi-engine aircraft systems, procedures, and emergency protocols. It's a crucial step that ensures your comprehensive understanding of the intricacies involved in operating aircraft with multiple engines. Prepare for this exam to solidify your theoretical expertise and pave the way toward mastering multi-engine flight.
    </p>
  </div>
  <!--Step 3-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300">
    <div class="p-10 "><%=image_tag "multi-engine-flying-cross-country.webp", alt: "Pilot about to go on a cross country at Ideal Aviation", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 3. Complete Long Cross Country</h3>
    <p class="text-base w-3/4">
      A key step in obtaining your Multi-Engine Rating involves completing a substantial long cross-country flight in a multi-engine aircraft. This flight, spanning a significant distance, aims to refine your navigation skills, enhance planning acumen, and foster cross-country expertise in the multi-engine context. By successfully accomplishing this flight requirement, you'll fortify your ability to navigate under diverse conditions and solidify your confidence in managing extended flights with multi-engine aircraft.
    </p>
  </div>
  <!--Step 4-->
  <div class="flex flex-col items-center lg:w-1/2 p-text text-gray-300 mb-10 lg:mb-0">
    <div class="p-10"><%=image_tag "multi-engine-pass-certificate", alt: "An Ideal Aviation student right after passing his checkride", class: "rounded-lg"%></div>
    <h3 class="text-xl font-semibold pb-4 font-sans mx-5 text-center uppercase font-header text-white">Step 4. Complete Multi-Engine Rating Checkride</h3>
    <p class="text-base w-3/4">
      Showcase your adeptness in multi-engine flying through a comprehensive practical flight test. This evaluation encompasses a range of flight maneuvers, intricate procedures, and simulated emergency scenarios. Your performance in this checkride underlines your proficiency in confidently piloting multi-engine aircraft, validating your readiness to operate these aircraft with precision and skill.
    </p>
  </div>
</section>
<!--Eligibility Reqs-->
<section class="bg-gradient-to-b from-blue-50 to-blue-200 text-black py-20">
  <div class="flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="lg:text-left">
        <h2 class="font-semibold text-2xl lg:text-4xl text-center pb-4">What Are the Requirements For a Multi Engine Rating?</h2>
        <div class="text-base px-6 lg:pl-0 lg:pr-8">
          <p class="pb-5">
            For those who hold a private pilot certificate, pursuing a multi-engine rating is categorized as an "add-on" rating. With prior completion of numerous tasks essential for a pilot certificate and fulfillment of aeronautical experience requirements, obtaining this rating primarily involves grasping the distinctions, familiarizing oneself with a new aircraft, and demonstrating proficiency to a designated pilot examiner.
          </p>
          <p class="my-2 pb-5 font-semibold text-2xl">
            Requirements:
            <ul class="list-disc list-inside border-b-2 border-slate-300 pb-3 pl-3">
              <li class="mb-2">Obtain essential endorsements from an authorized instructor.</li>
              <li class="mb-2">Successfully complete a checkride with a pilot examiner, qualifying you to serve as pilot-in-command (PIC) of a multi-engine aircraft.</li>
              <li class="mb-2">Not Mandatory for a Multi-Engine Rating:
                <ul class="list-disc list-inside pl-4 pt-2">
                  <li class="mb-2">Knowledge test not necessary (when pursuing a multi-engine rating as an add-on).</li>
                  <li class="mb-2">No specific minimum flight time requirement (though around 10 to 15 hours in the multi-engine airplane before gaining instructor endorsements is typical).
                  </li>
                </ul>
              </li>
              <li class="mb-2">
                Medical prerequisites continue to align with those for the private pilot license, applicable across various medical certificate classes. Furthermore, the option to operate a multi-engine aircraft under the alternate and somewhat more flexible BasicMed requirements remains available.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-10" id="form-section">
  <div class="flex flex-col lg:flex-row lg:place-content-evenly">
    <div class="lg:w-1/2 lg:px-20 px-10 flex flex-col items-center">
      <h2 class="font-semibold text-3xl text-center  pb-5">Don't Wait. Begin Your Instrument Training Today</h2>
      <h3 class="italic text-lg pb-5">Fill out the form to get started.  We'll reach out to you and pair you up with a CFII.  Ideal Aviation is the best place to get your instrument rating in the St. Louis area.</h3>
      <%= image_tag "cabri3.webp", alt: "Ideal Aviation student right after he passed his instrument checkride", class: "lg:w-3/4 pb-5"%>
      <div class="italic text-slate-500 text-sm text-center">Ideal Aviation student right after he passed his instrument checkride</div>
    </div>
    <div class="p-10 lg:w-2/6 lg:p-10 md:p-20 sm:p-10">
      <%= turbo_frame_tag "advance_training_form" do %>
        <%= render "form", advance_training: @advance_training, advanced_page: @advanced_page %>
      <% end %>
    </div>
  </div>
</section>
<%= render "shared/testimonials"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
