<% title("Get Your Multi Engine Rating | Ideal Aviation Training") %>
<% meta_description("Enhance your aviation skills with a Multi Engine Rating from Ideal Aviation. Master multi-engine aircraft, expand career prospects, and gain a sought-after certification. Join us to elevate your flying capabilities and embrace new possibilities.") %>
<% meta_keywords("Multi Engine Rating, Aviation Skills, Ideal Aviation, Flight Training, Multi-Engine Aircraft, Pilot Certification") %>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<%= render "shared/header"%>
<section class="bg-multi-bg bg-cover bg-center h-screen-2/3 flex flex-col items-center justify-center">
  <h1 class="lg:text-5xl text-3xl font-semibold pb-10 text-center">Get Your Multi Engine Rating</h1>
  <h2 class="lg:text-3xl text-xl italic font-semibold pb-10 text-center">Your Guide to Getting a Multi Engine Rating at Ideal Aviation</h2>
  <%= link_to "GET STARTED",  "#form-section", data: { turbo: false }, class: "btn-primary"%>
</section>
<section class="bg-ideal-blue-dark">
  <div class="container mx-auto flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end pt-10 lg:pt-20">
      <!--Container for text to align them-->
      <div class="text-center lg:text-left">
        <h2 class="font-semibold text-4xl text-white pb-4 text-center">Why Get a Multi Engine Rating?</h2>
        <div class="text-white px-6 lg:pl-0 lg:pr-8 p-text">
          <p class="pb-5">
            Obtaining a Multi Engine Rating enhances your aviation expertise, boosting safety and confidence in flight. This rating provides access to advanced aircraft, broadening career opportunities. Ideal Aviation's Multi Engine Rating program equips you with the skills to navigate complex systems, refining your piloting abilities for success in the aviation industry.
          </p>
          <p class="pb-5 font-bold underline font-sans text-3xl">
            Ideal Aviation is the place for pilots to get their Multi Engine Rating
          </p>
          <p class="pb-5">
            Read below for more information on obtaining a Multi Engine Rating at Ideal Aviation.  Ideal Aviation offers multi engine training through use of our well maintained Piper Senminole.  Contact us today to talk with an Ideal Aviation team member and schedule a flight with a CFI-MEI in our Piper Seminole.
          </p>
        </div>
      </div>
    </div>
    <!--Picture-->
    <div class="lg:w-1/2 lg:flex flex-col items-center">
      <div class="flex flex-col items-center">
        <%=image_tag "multi-engine-instructor-pass-checkride.webp", alt: "Scott passing his multi engine instructor checkride at Ideal Aviation", class: "lg:w-5/6"%>
      </div>
    </div>
  </div>
</section>
<section class="bg-gradient-to-t from-blue-300 to-blue-50">
  <div class="container mx-auto flex flex-col lg:flex-row-reverse items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <h2 class="font-semibold text-4xl text-black pb-4 text-center">How to Get Your Multi Engine Rating</h2>
      <div class="text-black px-10 p-text">
        <p class="pb-5">
          To obtain your Multi Engine Rating, you'll need to meet specific eligibility criteria, which generally include holding a Private Pilot Certificate and a valid medical certificate. The process involves a combination of ground school and flight training, where you'll gain essential theoretical knowledge and practical skills in multi engine aircraft operations. You'll accumulate the required flight hours, typically around 10-15 hours, to build proficiency and meet experience requirements. After thorough preparation, you'll need to pass both a written exam and a practical checkride with an FAA designated pilot examiner. These steps ensure you're well prepared to safely operate multi engine aircraft, and upon successful completion, you'll receive your Multi Engine Rating certification.
        </p>
        <p class="pb-5">
          <span class="font-bold font-sans text-2xl">Choose Ideal Aviation and Start Your Multi-Engine Rating Today</span>
        </p>
        <p class="grid place-items-center pb-10">
          <%= link_to "CONTACT US",  contact_path, data: { turbo: false }, class: "btn-primary"%>
        </p>
      </div>
    </div>
    <div class="lg:w-1/2 flex flex-col items-center">
      <!-- FB video player code -->
        <div class="fb-video" data-href="https://www.facebook.com/IdealAviation/videos/573621291327996" data-width="400" data-show-text="false">
        </div>
    </div>
  </div>
</section>

<!--Eligibility Reqs-->
<section class="bg-gradient-to-b from-blue-50 to-blue-200 text-black py-20">
  <div class="flex flex-col lg:flex-row items-center justify-center">
    <!--Text-->
    <div class="lg:w-1/2 flex flex-col items-center lg:items-end">
      <!--Container for text to align them-->
      <div class="lg:text-left">
        <h2 class="font-semibold text-2xl lg:text-4xl text-center pb-4">What Are the Requirements For a Multi Engine Rating?</h2>
        <div class="text-base px-6 lg:pl-0 lg:pr-8">
          <p class="pb-5">
            For those who hold a private pilot certificate, pursuing a multi engine rating is categorized as an "add-on" rating. With prior completion of numerous tasks essential for a pilot certificate and fulfillment of aeronautical experience requirements, obtaining this rating primarily involves grasping the distinctions, familiarizing oneself with a new aircraft, and demonstrating proficiency to a designated pilot examiner.
          </p>
          <p class="my-2 pb-5 font-semibold text-2xl">
            Requirements:
            <ul class="list-disc list-inside pb-3 pl-3">
              <li class="mb-2">Obtain essential endorsements from an authorized instructor.</li>
              <li class="mb-2">Successfully complete a checkride with a pilot examiner, qualifying you to serve as pilot-in-command (PIC) of a multi engine aircraft.</li>
              <li class="mb-2">Not Mandatory for a Multi-Engine Rating:
                <ul class="list-disc list-inside pl-4 pt-2">
                  <li class="mb-2">Knowledge test not necessary (when pursuing a multi-engine rating as an add-on).</li>
                  <li class="mb-2">No specific minimum flight time requirement (though around 10 to 15 hours in the multi engine airplane before gaining instructor endorsements is typical).
                  </li>
                </ul>
              </li>
              <li class="mb-2">
                Medical prerequisites continue to align with those for the private pilot license, applicable across various medical certificate classes. Furthermore, the option to operate a multi-engine aircraft under the alternate and somewhat more flexible BasicMed requirements remains available.
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-10" id="form-section">
  <div class="flex flex-col lg:flex-row lg:place-content-evenly">
    <div class="lg:w-1/2 lg:px-20 px-10 flex flex-col items-center">
      <h2 class="font-semibold text-3xl text-center  pb-5">Start Your Multi Engine Training Today</h2>
      <h3 class="italic text-lg pb-5">Fill out the form to get started.  We'll reach out to you and pair you up with a CFI-MEI.  Ideal Aviation is the best place to get your multi engine training in the St. Louis area.</h3>
      <%= image_tag "multi_engine_checkride_pass.webp", alt: "Ideal Aviation student right after she passed her multi engine checkride", class: "lg:w-3/4 pb-5"%>
      <div class="italic text-slate-500 text-sm text-center">Ideal Aviation student right after she passed her multi engine checkride</div>
    </div>
    <div class="p-10 lg:w-2/6 lg:p-10 md:p-20 sm:p-10">
      <%= turbo_frame_tag "advance_training_form" do %>
        <%= render "form", advance_training: @advance_training, advanced_page: @advanced_page %>
      <% end %>
    </div>
  </div>
</section>
<%= render "shared/testimonials"%>
<%= render "shared/cta_were_experts"%>
<%= render "shared/cta_next_steps"%>
<%= render "shared/footer"%>
